<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Music Finder UI</title>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div ng-app="songs" ng-controller="songsController">

        <div class="container" style="padding-top:10px;">
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="musicurl" class="sr-only">Music Request URL</label>
                        <input type="text" readonly class="form-control-plaintext" id="musicurl"
                            value="Music Request URL">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="URL" class="sr-only">URL</label>
                        <input type="text" class="form-control" id="inputURL"
                            placeholder="https://[youtube/soundcloud].com\some-song">
                    </div>
                    <div class="form-group col-md-2">
                        <button ng-click="AddItem()" id="sendtoqueue" type="button" class="btn btn-primary mb-2">Send to
                            Queue</button>
                    </div>
                </div>
            </form>
        </div>

        <div>
            <div style="margin-bottom: 5px;" class="progress" ng-repeat="q in songqueue">
                <div id="{{ q.id }}" class="progress-bar progress-bar-striped progress-bar-animated {{ q.cssclass }}" role="progressbar"
                    style="width: {{ q.current_progress }}%;">{{ q.url }}</div>
            </div>
        </div>

        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>Uploader</th>
                    <th>Artist</th>
                    <th>Title</th>
                    <th>URL</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="s in songlist">
                    <td>{{ s.value.uploader }}</td>
                    <td>{{ s.value.artist }}</td>
                    <td>{{ s.value.title }}</td>
                    <td> <a target="_blank" href="{{ s.value.webpage_url }}">{{ s.value.webpage_url }}</a> </td>
                    <td><a class="btn btn-primary" target="_blank"
                            href="{{ 'http://localhost:5984/mydatabase/' + s.id + '/' + s.value.filename }}"
                            role="button">Download Wav</a></td>
                </tr>
            </tbody>
        </table>
    </div>


    <hr />
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#collapseQueue" role="button" aria-expanded="false"
            aria-controls="collapseExample">
            Toggle Music Queue
        </a>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseDataStore"
            aria-expanded="false" aria-controls="collapseExample">
            Toggle Data Store
        </button>
    </p>
    <div class="collapse" id="collapseQueue">
        <div class="card card-body">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://localhost:8080/#/queues/%2F/music-request"
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <div class="collapse" id="collapseDataStore">
        <div class="card card-body">
            <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://127.0.0.1:5984/_utils#setup" allowfullscreen></iframe>
            </div>
        </div>
    </div>
    <hr />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <script>

        var model = {
            songlist: [],
            songqueue: []
        };

        var app = angular.module('songs', []);
        app.controller('songsController', function ($scope, $http) {

            $scope.AddItem = function () {
                var query = $("#inputURL").val();
                $("#inputURL").val("");

                id = "progressbar" + Math.floor(Math.random() * 100).toString();

                var song = {
                    url: query,
                    id: id,
                    current_progress: 0,
                    timeout: 1000,
                    done: false,
                    interval: undefined,
                    cssclass: ""
                };

                //check if we have the song
                $http.get("http://localhost:8002/song/byurl?url=" + '"' + encodeURIComponent(song.url) + '"')
                    .then(function (response) {

                        if (response.data.rows.length > 0) {
                            song.done = true;
                            song.current_progress = 100; //we have the song,mark as complete!   
                            song.cssclass = "bg-success"
                            model.songqueue.push(song);
                        }
                        else {
                            //we dont have the song! queue it

                            $.post("http://localhost:8001/submit/query/" + encodeURIComponent(song.url), function (data, status) {
                                song.interval = setInterval(function () {
                                    $http.get("http://localhost:8002/song/byurl?url=" + '"' + encodeURIComponent(song.url) + '"')
                                        .then(function (response) {
                                            if (response.data.rows.length > 0) { //Check if we now have the song
                                                song.done = true;
                                                song.current_progress = 100; //we have it, mark as complete!   
                                                $("#" + song.id)
                                                    .css("width", song.current_progress + "%")
                                                    .addClass("bg-success")
                                                    .text(song.url + "[ Complete]");

                                                clearInterval(song.interval);
                                            }
                                        });

                                    if (!song.done) {
                                        song.current_progress += 5;
                                        $("#" + song.id)
                                            .attr("aria-valuenow", song.current_progress);

                                        if (song.current_progress >= 100) {
                                            clearInterval(song.interval);
                                            $("#" + song.id)
                                                .addClass("bg-danger")
                                                .text(song.url + " [Timed out waiting for download]");
                                        }
                                    }
                                }, song.timeout);

                                model.songqueue.push(song);
                            });
                        }
                        $scope.songqueue = model.songqueue;
                    });


            };
            $http.get("http://localhost:8002/songs/all")
                .then(function (response) {

                    //$scope.model = model;
                    for (i = 0; i < response.data.rows.length; ++i) {
                        model.songlist.push(response.data.rows[i]);
                    }
                    $scope.songlist = response.data.rows;
                });
        });

    </script>
</body>

</html>