<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
        integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <title>Music Finder UI</title>

    <!-- Custom fonts for this template -->
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet'
        type='text/css'>
    <link
        href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800'
        rel='stylesheet' type='text/css'>

</head>

<body>

    <noscript>You need to enable JavaScript to run this app.</noscript>

    <div class="container">
        <form class="form-inline">
            <div class="form-group mb-2">
                <label for="musicurl" class="sr-only">Music Request URL</label>
                <input type="text" readonly class="form-control-plaintext" id="musicurl" value="Music Request URL">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="URL" class="sr-only">URL</label>
                <input type="text" class="form-control" id="inputURL" placeholder="URL">
            </div>
            <button id="sendtoqueue" type="button" class="btn btn-primary mb-2">Send to Queue</button>
        </form>
    </div>
    <hr>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"
        integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ"
        crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"
        integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>

        <script>
                $(document).ready(function () {
                    $("button").click(function () {
                        var query = encodeURIComponent( $("#inputURL").val());
                        
                        $.post("http://localhost:81/submit/query/" + query, function (data, status) {
                            alert("done!" + status);
                        });
                    });
                });
        
            </script>

</body>

</html>